@import 'tailwindcss';

@theme {
  --color-gray-0: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: #eaeaea;
  --color-gray-300: #999999;
  --color-gray-400: #888888;
  --color-gray-500: #666666;
  --color-gray-600: #444444;
  --color-gray-700: #333333;
  --color-gray-800: #222222;
  --color-gray-900: #111111;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply mb-4 tracking-tight;
  }

  h1 {
    @apply font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-2xl mt-6;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply text-gray-200 my-4;
  }

  a {
    @apply text-pink-400 hover:text-pink-600 transition-all;
  }

  figure {
    @apply my-6;
  }

  img {
    @apply w-full rounded-lg max-h-96 object-cover;
  }

  video {
    @apply w-full rounded-lg;
  }

  figcaption {
    @apply text-center text-gray-300;
  }
}

@layer components {
  .button {
    @apply bg-pink-400 hover:bg-pink-600 text-white py-2 px-2 rounded-full;
  }
}
