---
import Layout from "./layouts/_Layout.astro";
import { projectList } from "../data/project-list";
import ProjectList from "../components/ProjectList.astro";
---

<Layout>
  <div
    class="flex flex-col justify-center items-start mx-auto mt-20 pb-16 text-center"
  >
    <h1 class="w-full font-bold text-4xl tracking-tight mb-1">Robbie Howe</h1>
    <h3 class="w-full text-gray-300">
      Front End Developer
      <br />
      Graphics Programmer
    </h3>

    <div class="w-full flex justify-center gap-10 mt-10">
      <a
        href="https://github.com/rmhowe"
        target="_blank"
        rel="noopener noreferrer"
        class="text-rose-50 hover:text-gray-300 transition-all"
        title="GitHub"
      >
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/robbie-howe-8ba50540/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-rose-50 hover:text-gray-300 transition-all"
        title="LinkedIn"
      >
        LinkedIn
      </a>
    </div>

    <h2 class="w-full font-bold text-3xl tracking-tight mt-12 mb-6">
      Projects
    </h2>
    <ProjectList list={projectList} />
  </div>
</Layout>
