---
import Layout from "../layouts/_Layout.astro";
import BackLink from "../../components/BackLink.astro";
import PageTitle from "../../components/PageTitle.astro";
import ExternalLink from "../../components/ExternalLink.astro";
import { VoxelRenderer as VoxelRendererComponent } from "../../components/voxel-renderer/VoxelRenderer";
---

<Layout>
  <BackLink />
  <PageTitle>Voxel Renderer</PageTitle>
  <div class="text-gray-200">
    <p class="mb-4">
      This was preparatory work completed ahead of a project that needed to
      simultaneously render millions of voxels. Rendering millions of cubes is
      of course too slow, and instancing helped but only up to several tens of
      thousands.
    </p>
    <p class="mb-4">
      Instead, custom geometry was created which was grouped by voxel type,
      eliminating all internal faces. Voxel types were to be represented by
      simple colors so vertex colors were added depending on the voxel type.
    </p>
    <p class="mb-10">
      Source code available{" "}
      <ExternalLink
        href="https://github.com/rmhowe/portfolio/blob/main/components/voxel-renderer/VoxelRenderer.tsx"
      >
        here
      </ExternalLink>
      .
    </p>
  </div>
  <div class="w-full" style={{ height: "75vh" }}>
    <VoxelRendererComponent client:only="react" />
  </div>
</Layout>
